on: [push, pull_request]
name: CI

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        name:
          [
            btor,
            cvc4,
            msat,
            yices2,
            z3
          ]

        include:
          - name: msat
            setup_opts: --auto-yes

    name: ${{ matrix.os }}:${{ matrix.name }} 
    runs-on: ${{ matrix.os}}

    steps:
      - uses: actions/checkout@v2

      - name: Install Packages (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            cmake \
            gperf \
            libgmp-dev \
            openjdk-8-jdk

      - name: Install Packages (macOS)
        if: runner.os == 'macOS'
        run: |
          brew update
          brew install \
            gmp \
            gperf

      - name: Python Dependencies
        run: |
          python3 -m pip install Cython pytest toml
          ./contrib/setup-skbuild.sh

      - name: Install Bison
        run: ./contrib/setup-bison.sh

      - name: Install Flex (macOS)
        if: runner.os == 'macOS'
        run: ./contrib/setup-flex.sh

      - name: Setup Underlying Solver
        run: ./ci-scripts/setup-${{ matrix.name }}.sh ${{ matrix.setup_opts }}

      - name: Test Wheels
        run: |
          sudo python3 -m pip install wheel setuptools virtualenv
          python3 contrib/wheels/build_wheel.py bdist_wheel
          bash -c "python3 -m virtualenv env && source env/bin/activate && pip install dist/* pytest && pytest tests/"


      # - name: Configure
      #   run: ./configure.sh --${{ matrix.name }} --debug --python --smtlib-reader

      # - name: Build
      #   run: |
      #     cd build
      #     make -j

      # - name: Test C++
      #   run: |
      #     cd build
      #     make test

      # - name: Install Python Bindings
      #   run: python3 -m pip install -e ./build/python[test,pysmt]

      # - name: Test Python Bindings
      #   run: pytest ./tests
