on: [push, workflow_dispatch]
name: CI

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        library_type: [dynamic, static]
        name:
        - btor
        - bitwuzla
        - cvc5
        - msat
        - yices2
        - z3
        include:
          - name: bitwuzla
            extra_python_packages: meson
          - name: msat
            setup_opts: --auto-yes
          - name: yices2
            extra_linux_packages: gperf
            macos_packages: autoconf gperf
          - library_type: static
            name_suffix: -static
            config_opts: --static
    name: ${{ matrix.os }}:${{ matrix.name }}${{ matrix.name_suffix }}
    runs-on: ${{ matrix.os}}

    steps:
      - uses: actions/checkout@v4

      - name: Install Packages (Linux)
        if: runner.os == 'Linux'
        run: |
          # Remove the largest ones first to free up some space.
          sudo apt-get remove \
            azure-cli \
            google-chrome-stable \
            google-cloud-cli \
            microsoft-edge-stable
          sudo apt-get update
          sudo apt-get install -y \
            cmake \
            ${{ matrix.extra_linux_packages }}

      - name: Install Packages (macOS)
        if: runner.os == 'macOS' && matrix.macos_packages
        run: |
          brew update
          brew install ${{ matrix.macos_packages }}

      - name: Fix Homebrew paths (macOS)
        if: runner.os == 'macOS'
        run: |
          echo "LDFLAGS=-L$(brew --prefix)/lib $LDFLAGS" >> "$GITHUB_ENV"
          echo "CFLAGS=-I$(brew --prefix)/include $CFLAGS" >> "$GITHUB_ENV"
          echo "CPPFLAGS=-I$(brew --prefix)/include $CPPFLAGS" >> "$GITHUB_ENV"


      - name: Python Dependencies
        run: |
          python3 -m venv ./.venv
          source ./.venv/bin/activate
          python3 -m pip install \
            packaging \
            ${{ matrix.extra_python_packages }}
          echo "$PWD/.venv/bin" >> $GITHUB_PATH

      - name: Install Bison
        run: ./contrib/setup-bison.sh

      - name: Install Flex (macOS)
        if: runner.os == 'macOS'
        run: ./contrib/setup-flex.sh

      - name: Setup Underlying Solver
        run: ./ci-scripts/setup-${{ matrix.name }}.sh ${{ matrix.setup_opts }}

      - name: Configure
        run: source ./.venv/bin/activate && ./configure.sh --${{ matrix.name }} --debug --python --smtlib-reader ${{ matrix.config_opts }}

      - name: Build
        run: |
          if [[ "$RUNNER_OS" == "Linux" ]]; then
            NUM_CORES=$(nproc)
          elif [[ "$RUNNER_OS" == "macOS" ]]; then
            NUM_CORES=$(sysctl -n hw.ncpu)
          else
            NUM_CORES=2
          fi
          source ./.venv/bin/activate
          cd build
          make -j$NUM_CORES

      - name: Test C++
        id: test-cpp
        continue-on-error: true
        run: |
          cd build
          make test

      - name: Upload failing test log
        if: steps.test-cpp.outcome == 'failure'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-${{ matrix.name }}${{ matrix.name_suffix }}-test-log-${{ github.run_id }}
          path: build/Testing/Temporary/LastTest.log

      - name: Fail pipeline due to C++ test failure
        if: steps.test-cpp.outcome == 'failure'
        run: |
          echo "C++ tests failed. Inspect the artifact for details."
          exit 1

      - name: Install and test Python Bindings
        run: |
          source ./.venv/bin/activate
          python3 -m pip install build/python/*.whl[pysmt,test]
          cd tests/python
          pytest
